logs/
plugins/
config/
.env
__pycache__/
*.pyc
dags/model/*.sav
.DS_Storedags/data/file.csv
dags/model/*.sav
dags/model/*.png
dags/data/file.csv
**/.DS_Store
airflow_lab1/screenshots/*.png
airflow_lab1/dags/data/file.csv
